{% extends 'nsl_home.html' %}
{% block content %}
<div class="glass-modal" style="max-width: 900px; margin: 48px auto 0 auto;">
    <div class="center-title" style="text-align:center;margin-bottom:32px;">Points Table</div>
    <table class="glass-table" style="width:100%;">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ team.team_name }}</td>
                <td>{{ team.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
